<div id="tutorMenu" class="container">
    <div class="row">
        <form id="tutorform" class="col s12">
            <h4>Cadastro de TUTOR</h4>
            <div class="row">
                <input type="hidden" id="tutorId" name="tutorId" class="validate">
                <div class="input-field col s6">
                    <i class="material-icons prefix">person</i>
                    <input id="name" name="name" type="text" data-label="Nome do Tutor" class="validate">
                    <label for="name">Nome do Tutor</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="email" data-label="Email" class="validate">
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="phone" name="phone" type="tel" data-label="Telefone" class="validate">
                    <label for="phone">Telefone</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">home</i>
                    <input id="address" name="address" type="text" data-label="Endereço" class="validate">
                    <label for="address">Endereço</label>
                </div>

                <div class="col s12">
                    <a onclick="criarTutor()" id="btn_salvarTutor" class="waves-effect waves-light btn green" type="submit">
                        <i class="material-icons left">check</i>Salvar</a>
                    <a onclick="cancelar()" id="btn_cancelarTutor" class="waves-effect waves-light btn grey">
                        <i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </form>
    </div>
    <div id="tutortable">
        <div class="adjust-title">
            <div class="col s12">
                <h4>Lista de TUTORES</h4>
                <a onclick="mostrarForm()" id="btn_novoTutor" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">add</i>Novo</a>
                <br><br>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Endereço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tutor_list">
                    <% if (tutors && tutors.length> 0) { %>
                        <% tutors.forEach(tutor=> { %>
                            <tr>
                                <td>
                                    <%= tutor.name %>
                                </td>
                                <td>
                                    <%= tutor.email %>
                                </td>
                                <td>
                                    <%= tutor.phone %>
                                </td>
                                <td>
                                    <%= tutor.address %>
                                </td>
                                <td><!-- botões de ação (editar, excluir) -->
                                    <a class="btn-floating blue" onclick="editarTutor('<%= tutor.id %>')"><i class="material-icons">edit</i></a>
                                    <a class="btn-floating red" onclick="deletarTutor('<%= tutor.id %>')"><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                            <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="6">Nenhum tutor cadastrado.</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/tutors.js" defer></script>
